!!!
%html
  %head
    %title My Sinatra Website
    %link(rel="stylesheet" href="/css/main.css")
  %body
    %h1 I'm a header!
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    %script(src="js/main.js")
